[submodule "Week11/depthImage2pointCloud"]
	path = Week11/depthImage2pointCloud
	url = https://github.com/Guri-cccc/depthImage2pointCloud.git
[submodule "Week10/motion_primitives_planner"]
	path = Week10/motion_primitives_planner
	url = https://github.com/hynkis/motion_primitives_planner.git
[submodule "Week10/local_costmap_generator"]
	path = Week10/local_costmap_generator
	url = https://github.com/hynkis/local_costmap_generator.git
[submodule "Week03/EE405A-2023-F1-simulation"]
	path = Week03/EE405A-2023-F1-simulation
	url = https://github.com/Guri-cccc/EE405A-2023-F1-simulation.git
[submodule "Week11/node_recorder"]
	path = Week11/node_recorder
	url = https://github.com/hynkis/node_recorder.git
[submodule "Week11/depthImage2pointCloud"]
	path = Week11/depthImage2pointCloud
	url = https://github.com/Guri-cccc/depthImage2pointCloud
[submodule "Week13/true_rt_tag"]
	path = Week13/true_rt_tag
	url = https://github.com/MinSungjae/true_rt_tag
[submodule "Week13/qr_detector"]
	path = Week13/qr_detector
	url = https://github.com/MinSungjae/qr_detector
